extends ../layouts/master

block title
    +pageTitle("Index Page")

block content

  section.b-page__container.b-index-container
    div.b-page__browser-component
    header.b-page__header
      a(href="#").b-header__menu-btn
        i.b-icon.b-icon--menu
      div.b-header__logo
        a(href="#")
          img(src="assets/img/logo.png", alt="")
      div.b-menu
    section.b-page__content
      div.b-content__start-menu
        h1 Плати в один клик
        p.b-text--sm
          | Оплата мобильного, переводы с карты на
          br
          | карту, оплата штрафов ГИБДД
          br
          | и многое другое ...
        button.b-btn.b-btn--background-pink.b-btn--md.b-btn--circle
          i.b-icon.b-icon--search
        div.b-content__app-download
          p.b-text--xs Установить приложение Leader Digital
          ul.b-app-download__app-list
            li.b-ul__item
              a(href="#")
                i.b-icon.b-icon--play-market
            li.b-ul__item
              a(href="#")
                i.b-icon.b-icon--app-store
    footer.b-page__footer
      ul.b-footer__social
        li.b-footer__item
          a(href="#")
            i.b-icon.b-icon--facebook
        li.b-footer__item
          a(href="#")
            i.b-icon.b-icon--instagram
        li.b-footer__item
          a(href="#")
            i.b-icon.b-icon--twitter
        li.b-footer__item
          a(href="#")
            i.b-icon.b-icon--youtube
