extends ../layouts/master

block title
    +pageTitle("Index Page")

block content

  section.b-page__container.b-index-container
    div.b-page__browser-component
    header.b-page__header
      a(href="#").b-header__menu-btn
        i.b-icon.b-icon--menu
      div.b-header__logo
        a(href="#")
          img(src="assets/img/logo.png", alt="")
      div.b-menu
    section.b-page__register
      div.b-register__block.b-register--step-1
        input(type="text", placeholder="Введите свой номер телефона")
        button.b-btn.b-btn--standart.b-btn--fullwidth Зарегистрироваться
