.b-btn{

  border: none;


  &--background-pink{
    background-color: #df4852;
  }

  &--md{
    width: 80px;
    height: 80px;
  }

  &--circle{
    border-radius: 40px;
  }




  i{
    float: none;
    margin: 0 auto;
  }
}
