/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$glyph-item-computer-name: 'glyph-item__computer';
$glyph-item-computer-x: 82px;
$glyph-item-computer-y: 40px;
$glyph-item-computer-offset-x: -82px;
$glyph-item-computer-offset-y: -40px;
$glyph-item-computer-width: 40px;
$glyph-item-computer-height: 40px;
$glyph-item-computer-total-width: 180px;
$glyph-item-computer-total-height: 150px;
$glyph-item-computer-image: '../img/sprite.png';
$glyph-item-computer: (82px, 40px, -82px, -40px, 40px, 40px, 180px, 150px, '../img/sprite.png', 'glyph-item__computer', );
$glyph-item-emoney-name: 'glyph-item__emoney';
$glyph-item-emoney-x: 122px;
$glyph-item-emoney-y: 0px;
$glyph-item-emoney-offset-x: -122px;
$glyph-item-emoney-offset-y: 0px;
$glyph-item-emoney-width: 40px;
$glyph-item-emoney-height: 40px;
$glyph-item-emoney-total-width: 180px;
$glyph-item-emoney-total-height: 150px;
$glyph-item-emoney-image: '../img/sprite.png';
$glyph-item-emoney: (122px, 0px, -122px, 0px, 40px, 40px, 180px, 150px, '../img/sprite.png', 'glyph-item__emoney', );
$glyph-item-game-name: 'glyph-item__game';
$glyph-item-game-x: 40px;
$glyph-item-game-y: 82px;
$glyph-item-game-offset-x: -40px;
$glyph-item-game-offset-y: -82px;
$glyph-item-game-width: 40px;
$glyph-item-game-height: 40px;
$glyph-item-game-total-width: 180px;
$glyph-item-game-total-height: 150px;
$glyph-item-game-image: '../img/sprite.png';
$glyph-item-game: (40px, 82px, -40px, -82px, 40px, 40px, 180px, 150px, '../img/sprite.png', 'glyph-item__game', );
$glyph-item-goverment-name: 'glyph-item__goverment';
$glyph-item-goverment-x: 80px;
$glyph-item-goverment-y: 82px;
$glyph-item-goverment-offset-x: -80px;
$glyph-item-goverment-offset-y: -82px;
$glyph-item-goverment-width: 40px;
$glyph-item-goverment-height: 40px;
$glyph-item-goverment-total-width: 180px;
$glyph-item-goverment-total-height: 150px;
$glyph-item-goverment-image: '../img/sprite.png';
$glyph-item-goverment: (80px, 82px, -80px, -82px, 40px, 40px, 180px, 150px, '../img/sprite.png', 'glyph-item__goverment', );
$glyph-item-home-name: 'glyph-item__home';
$glyph-item-home-x: 40px;
$glyph-item-home-y: 41px;
$glyph-item-home-offset-x: -40px;
$glyph-item-home-offset-y: -41px;
$glyph-item-home-width: 40px;
$glyph-item-home-height: 40px;
$glyph-item-home-total-width: 180px;
$glyph-item-home-total-height: 150px;
$glyph-item-home-image: '../img/sprite.png';
$glyph-item-home: (40px, 41px, -40px, -41px, 40px, 40px, 180px, 150px, '../img/sprite.png', 'glyph-item__home', );
$glyph-item-pack-name: 'glyph-item__pack';
$glyph-item-pack-x: 82px;
$glyph-item-pack-y: 0px;
$glyph-item-pack-offset-x: -82px;
$glyph-item-pack-offset-y: 0px;
$glyph-item-pack-width: 40px;
$glyph-item-pack-height: 40px;
$glyph-item-pack-total-width: 180px;
$glyph-item-pack-total-height: 150px;
$glyph-item-pack-image: '../img/sprite.png';
$glyph-item-pack: (82px, 0px, -82px, 0px, 40px, 40px, 180px, 150px, '../img/sprite.png', 'glyph-item__pack', );
$glyph-item-phone-name: 'glyph-item__phone';
$glyph-item-phone-x: 0px;
$glyph-item-phone-y: 41px;
$glyph-item-phone-offset-x: 0px;
$glyph-item-phone-offset-y: -41px;
$glyph-item-phone-width: 40px;
$glyph-item-phone-height: 41px;
$glyph-item-phone-total-width: 180px;
$glyph-item-phone-total-height: 150px;
$glyph-item-phone-image: '../img/sprite.png';
$glyph-item-phone: (0px, 41px, 0px, -41px, 40px, 41px, 180px, 150px, '../img/sprite.png', 'glyph-item__phone', );
$glyph-item-telephone-name: 'glyph-item__telephone';
$glyph-item-telephone-x: 0px;
$glyph-item-telephone-y: 82px;
$glyph-item-telephone-offset-x: 0px;
$glyph-item-telephone-offset-y: -82px;
$glyph-item-telephone-width: 40px;
$glyph-item-telephone-height: 40px;
$glyph-item-telephone-total-width: 180px;
$glyph-item-telephone-total-height: 150px;
$glyph-item-telephone-image: '../img/sprite.png';
$glyph-item-telephone: (0px, 82px, 0px, -82px, 40px, 40px, 180px, 150px, '../img/sprite.png', 'glyph-item__telephone', );
$glyph-item-television-name: 'glyph-item__television';
$glyph-item-television-x: 122px;
$glyph-item-television-y: 40px;
$glyph-item-television-offset-x: -122px;
$glyph-item-television-offset-y: -40px;
$glyph-item-television-width: 40px;
$glyph-item-television-height: 40px;
$glyph-item-television-total-width: 180px;
$glyph-item-television-total-height: 150px;
$glyph-item-television-image: '../img/sprite.png';
$glyph-item-television: (122px, 40px, -122px, -40px, 40px, 40px, 180px, 150px, '../img/sprite.png', 'glyph-item__television', );
$glyph-login-name: 'glyph-login';
$glyph-login-x: 28px;
$glyph-login-y: 122px;
$glyph-login-offset-x: -28px;
$glyph-login-offset-y: -122px;
$glyph-login-width: 26px;
$glyph-login-height: 28px;
$glyph-login-total-width: 180px;
$glyph-login-total-height: 150px;
$glyph-login-image: '../img/sprite.png';
$glyph-login: (28px, 122px, -28px, -122px, 26px, 28px, 180px, 150px, '../img/sprite.png', 'glyph-login', );
$glyph-logout-name: 'glyph-logout';
$glyph-logout-x: 0px;
$glyph-logout-y: 122px;
$glyph-logout-offset-x: 0px;
$glyph-logout-offset-y: -122px;
$glyph-logout-width: 28px;
$glyph-logout-height: 28px;
$glyph-logout-total-width: 180px;
$glyph-logout-total-height: 150px;
$glyph-logout-image: '../img/sprite.png';
$glyph-logout: (0px, 122px, 0px, -122px, 28px, 28px, 180px, 150px, '../img/sprite.png', 'glyph-logout', );
$glyph-pen-name: 'glyph-pen';
$glyph-pen-x: 162px;
$glyph-pen-y: 48px;
$glyph-pen-offset-x: -162px;
$glyph-pen-offset-y: -48px;
$glyph-pen-width: 14px;
$glyph-pen-height: 13px;
$glyph-pen-total-width: 180px;
$glyph-pen-total-height: 150px;
$glyph-pen-image: '../img/sprite.png';
$glyph-pen: (162px, 48px, -162px, -48px, 14px, 13px, 180px, 150px, '../img/sprite.png', 'glyph-pen', );
$glyph-arr-name: 'glyph__arr';
$glyph-arr-x: 162px;
$glyph-arr-y: 18px;
$glyph-arr-offset-x: -162px;
$glyph-arr-offset-y: -18px;
$glyph-arr-width: 16px;
$glyph-arr-height: 17px;
$glyph-arr-total-width: 180px;
$glyph-arr-total-height: 150px;
$glyph-arr-image: '../img/sprite.png';
$glyph-arr: (162px, 18px, -162px, -18px, 16px, 17px, 180px, 150px, '../img/sprite.png', 'glyph__arr', );
$glyph-search-small-name: 'glyph__search-small';
$glyph-search-small-x: 162px;
$glyph-search-small-y: 0px;
$glyph-search-small-offset-x: -162px;
$glyph-search-small-offset-y: 0px;
$glyph-search-small-width: 18px;
$glyph-search-small-height: 18px;
$glyph-search-small-total-width: 180px;
$glyph-search-small-total-height: 150px;
$glyph-search-small-image: '../img/sprite.png';
$glyph-search-small: (162px, 0px, -162px, 0px, 18px, 18px, 180px, 150px, '../img/sprite.png', 'glyph__search-small', );
$icon-app-store-name: 'icon__app-store';
$icon-app-store-x: 0px;
$icon-app-store-y: 0px;
$icon-app-store-offset-x: 0px;
$icon-app-store-offset-y: 0px;
$icon-app-store-width: 41px;
$icon-app-store-height: 41px;
$icon-app-store-total-width: 180px;
$icon-app-store-total-height: 150px;
$icon-app-store-image: '../img/sprite.png';
$icon-app-store: (0px, 0px, 0px, 0px, 41px, 41px, 180px, 150px, '../img/sprite.png', 'icon__app-store', );
$icon-facebook-name: 'icon__facebook';
$icon-facebook-x: 79px;
$icon-facebook-y: 122px;
$icon-facebook-offset-x: -79px;
$icon-facebook-offset-y: -122px;
$icon-facebook-width: 24px;
$icon-facebook-height: 24px;
$icon-facebook-total-width: 180px;
$icon-facebook-total-height: 150px;
$icon-facebook-image: '../img/sprite.png';
$icon-facebook: (79px, 122px, -79px, -122px, 24px, 24px, 180px, 150px, '../img/sprite.png', 'icon__facebook', );
$icon-instagram-name: 'icon__instagram';
$icon-instagram-x: 103px;
$icon-instagram-y: 122px;
$icon-instagram-offset-x: -103px;
$icon-instagram-offset-y: -122px;
$icon-instagram-width: 24px;
$icon-instagram-height: 24px;
$icon-instagram-total-width: 180px;
$icon-instagram-total-height: 150px;
$icon-instagram-image: '../img/sprite.png';
$icon-instagram: (103px, 122px, -103px, -122px, 24px, 24px, 180px, 150px, '../img/sprite.png', 'icon__instagram', );
$icon-menu-name: 'icon__menu';
$icon-menu-x: 162px;
$icon-menu-y: 35px;
$icon-menu-offset-x: -162px;
$icon-menu-offset-y: -35px;
$icon-menu-width: 18px;
$icon-menu-height: 13px;
$icon-menu-total-width: 180px;
$icon-menu-total-height: 150px;
$icon-menu-image: '../img/sprite.png';
$icon-menu: (162px, 35px, -162px, -35px, 18px, 13px, 180px, 150px, '../img/sprite.png', 'icon__menu', );
$icon-play-market-name: 'icon__play-market';
$icon-play-market-x: 41px;
$icon-play-market-y: 0px;
$icon-play-market-offset-x: -41px;
$icon-play-market-offset-y: 0px;
$icon-play-market-width: 41px;
$icon-play-market-height: 41px;
$icon-play-market-total-width: 180px;
$icon-play-market-total-height: 150px;
$icon-play-market-image: '../img/sprite.png';
$icon-play-market: (41px, 0px, -41px, 0px, 41px, 41px, 180px, 150px, '../img/sprite.png', 'icon__play-market', );
$icon-search-name: 'icon__search';
$icon-search-x: 122px;
$icon-search-y: 80px;
$icon-search-offset-x: -122px;
$icon-search-offset-y: -80px;
$icon-search-width: 35px;
$icon-search-height: 35px;
$icon-search-total-width: 180px;
$icon-search-total-height: 150px;
$icon-search-image: '../img/sprite.png';
$icon-search: (122px, 80px, -122px, -80px, 35px, 35px, 180px, 150px, '../img/sprite.png', 'icon__search', );
$icon-twitter-name: 'icon__twitter';
$icon-twitter-x: 127px;
$icon-twitter-y: 122px;
$icon-twitter-offset-x: -127px;
$icon-twitter-offset-y: -122px;
$icon-twitter-width: 24px;
$icon-twitter-height: 24px;
$icon-twitter-total-width: 180px;
$icon-twitter-total-height: 150px;
$icon-twitter-image: '../img/sprite.png';
$icon-twitter: (127px, 122px, -127px, -122px, 24px, 24px, 180px, 150px, '../img/sprite.png', 'icon__twitter', );
$icon-youtube-name: 'icon__youtube';
$icon-youtube-x: 54px;
$icon-youtube-y: 122px;
$icon-youtube-offset-x: -54px;
$icon-youtube-offset-y: -122px;
$icon-youtube-width: 25px;
$icon-youtube-height: 24px;
$icon-youtube-total-width: 180px;
$icon-youtube-total-height: 150px;
$icon-youtube-image: '../img/sprite.png';
$icon-youtube: (54px, 122px, -54px, -122px, 25px, 24px, 180px, 150px, '../img/sprite.png', 'icon__youtube', );
$spritesheet-width: 180px;
$spritesheet-height: 150px;
$spritesheet-image: '../img/sprite.png';
$spritesheet-sprites: ($glyph-item-computer, $glyph-item-emoney, $glyph-item-game, $glyph-item-goverment, $glyph-item-home, $glyph-item-pack, $glyph-item-phone, $glyph-item-telephone, $glyph-item-television, $glyph-login, $glyph-logout, $glyph-pen, $glyph-arr, $glyph-search-small, $icon-app-store, $icon-facebook, $icon-instagram, $icon-menu, $icon-play-market, $icon-search, $icon-twitter, $icon-youtube, );
$spritesheet: (180px, 150px, '../img/sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
