//-----------------------------------//
//  VARIABLES
//-----------------------------------//

$white: #fff !default;
$blue: #3A75FC !default;
$yellow: #DAAC5F !default;

$gray: #8E9EAA !default;
$gray-light: #EBEBEB !default;
