.b-page__content{

}

.b-content__start-menu{
  margin-top: 10px;
  margin-top: 153px;
  text-align: center;


  h1{
    font-weight: 300;
    color: #fff;
    letter-spacing: -0.4px;
    margin-bottom: 0;
  }

  p{
    color: rgba(255, 255, 255, 0.6);
    margin: 0;
    width: 300px;
    margin: 0px auto;
    line-height: 21px;
  }

  .b-btn{
    margin-top: 10px;
  }
}

.b-content__app-download{
  margin-top: 25px;

  p{
    color: rgba(255, 255, 255, 0.4);
  }
}

.b-app-download__app-list{

  padding: 0;
  margin: 10px 0;

  li{
    display: inline-block;

    &:first-child{
      margin-left: -10px;
      margin-right: 20px;
      position: relative;
      left: 9px;
    }

  }
}
